@font-face {
	font-family: matrixFont;
	src: url(./matrixttf.ttf);
}

.Mbutton{
    position: absolute;
    top: 50%;  
    left: 45%;
    /* transform: translate(-50%, -50%); */
    transition: transform 0.3s ease-in-out;
    /* display: flex; */
    /* margin: auto; */
    color: #fff;
    background: var(--first-color);
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 2rem;
    font-size: 1.2rem;
    filter: drop-shadow(0px 5px 20px var(--first-color));
}
/* .Mbutton:hover{
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
} */

.Mcontact_button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    /* margin-left: auto;
    margin-right: auto; */
    /* left: 50%;    
    right: 25%; */
    text-align: center;
}